In [1]:
import pandas as pd
import ast

In [19]:
df = pd.read_csv(r"C:\Users\shade alarbed\Desktop\work related\repo\service-recommendation\salon_infos_abu_dhabi.csv")

In [16]:
df["day_opens"][0]

"['Vouchers', 'Monday', 'Tuesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Instant Confirmation', 'Pay by app', 'Al Zeina Complex, Block C, Abu Dhabi Get directions', 'Al Zeina Complex, Block C, Abu Dhabi Get directions', 'Vouchers']"

In [6]:
df["time_opens"][0]

"['Closed', '11:00 - 21:00', '11:00 - 21:00', '08:00 - 22:00', '08:00 - 22:00', '11:00 - 21:00']"

In [13]:
data = df["day_opens"][0]

In [24]:
data

"['Memberships', 'Vouchers', 'Monday', 'Tuesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Instant Confirmation', 'Pay by app', 'Ground Floor, Trident Grand Residence, Al Mamsha Street, Dubai Marina , Dubai Get directions', 'Ground Floor, Trident Grand Residence, Al Mamsha Street, Dubai Marina , Dubai Get directions', 'Memberships', 'Vouchers']"

In [4]:

data_list = ast.literal_eval(data)

NameError: name 'data' is not defined

In [29]:
data_list

['Memberships',
 'Vouchers',
 'Monday',
 'Tuesday',
 'Thursday',
 'Friday',
 'Saturday',
 'Sunday',
 'Instant Confirmation',
 'Pay by app',
 'Ground Floor, Trident Grand Residence, Al Mamsha Street, Dubai Marina , Dubai Get directions',
 'Ground Floor, Trident Grand Residence, Al Mamsha Street, Dubai Marina , Dubai Get directions',
 'Memberships',
 'Vouchers']

In [7]:
df["time_opens"] = df["time_opens"].apply(ast.literal_eval)

In [8]:
df["time_opens"]

0      [Closed, 11:00 - 21:00, 11:00 - 21:00, 08:00 -...
1      [10:00am - 10:00pm, 10:00am - 10:00pm, 10:00am...
2      [Closed, 11:00 - 21:00, 11:00 - 21:00, 09:00 -...
3      [10:00am - 11:00pm, 10:00am - 11:00pm, 10:00am...
4      [10:00am - 10:00pm, 10:00am - 10:00pm, 10:00am...
                             ...
185    [10:00am - 10:00pm, 10:00am - 10:00pm, 10:00am...
186    [10:00am - 10:00pm, 10:00am - 10:00pm, 10:00am...
187    [12:00pm - 9:00pm, 12:00pm - 9:00pm, 12:00pm -...
188    [9:00am - 11:55pm, 9:00am - 11:55pm, 9:00am - ...
189    [11:00am - 10:00pm, 11:00am - 10:00pm, 11:00am...
Name: time_opens, Length: 190, dtype: object

In [78]:
data = df["day_opens"][100]

In [87]:
print(*data)

Vouchers Monday Tuesday Thursday Friday Saturday Sunday Instant Confirmation Pay by app Cluster J, Tower J2, Shop 18, FREE parking is available , Dubai Get directions Cluster J, Tower J2, Shop 18, FREE parking is available , Dubai Get directions Vouchers

In [20]:
# Words to remove
words_to_remove = ['Instant Confirmation', 'Pay by app', 'Vouchers', 'Memberships']

def remove_words(row):
    return [word for word in row if word not in words_to_remove]

# Apply the function to the 'day_opens' column
df['day_opens'] = df['day_opens'].apply(remove_words)

In [21]:
df['day_opens'][2]

['[',
 "'",
 'V',
 'o',
 'u',
 'c',
 'h',
 'e',
 'r',
 's',
 "'",
 ',',
 ' ',
 "'",
 'M',
 'o',
 'n',
 'd',
 'a',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'T',
 'u',
 'e',
 's',
 'd',
 'a',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'T',
 'h',
 'u',
 'r',
 's',
 'd',
 'a',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'F',
 'r',
 'i',
 'd',
 'a',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'a',
 't',
 'u',
 'r',
 'd',
 'a',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'S',
 'u',
 'n',
 'd',
 'a',
 'y',
 "'",
 ',',
 ' ',
 "'",
 'I',
 'n',
 's',
 't',
 'a',
 'n',
 't',
 ' ',
 'C',
 'o',
 'n',
 'f',
 'i',
 'r',
 'm',
 'a',
 't',
 'i',
 'o',
 'n',
 "'",
 ',',
 ' ',
 "'",
 'P',
 'a',
 'y',
 ' ',
 'b',
 'y',
 ' ',
 'a',
 'p',
 'p',
 "'",
 ',',
 ' ',
 '"',
 'L',
 'O',
 'C',
 'A',
 'L',
 ' ',
 'M',
 'a',
 'm',
 's',
 'h',
 'a',
 ',',
 ' ',
 'M',
 'a',
 'm',
 's',
 'h',
 'a',
 ' ',
 'S',
 'a',
 'a',
 'd',
 'i',
 'y',
 'a',
 't',
 ',',
 ' ',
 'A',
 'l',
 ' ',
 'S',
 'a',
 "'",
 'D',
 'i',
 'y',
 'a',
 't',
 'C',
 'u',
 'l',
 't',
 'u',
 'r',
 'a',
 'l',
 ' ',
 'D',
 'i',
 's',
 't',
 'r',
 'i',
 'c',
 't',
 ',',
 ' ',
 'A',
 'b',
 'u',
 ' ',
 'D',
 'h',
 'a',
 'b',
 'i',
 ' ',
 'G',
 'e',
 't',
 ' ',
 'd',
 'i',
 'r',
 'e',
 'c',
 't',
 'i',
 'o',
 'n',
 's',
 '"',
 ',',
 ' ',
 '"',
 'L',
 'O',
 'C',
 'A',
 'L',
 ' ',
 'M',
 'a',
 'm',
 's',
 'h',
 'a',
 ',',
 ' ',
 'M',
 'a',
 'm',
 's',
 'h',
 'a',
 ' ',
 'S',
 'a',
 'a',
 'd',
 'i',
 'y',
 'a',
 't',
 ',',
 ' ',
 'A',
 'l',
 ' ',
 'S',
 'a',
 "'",
 'D',
 'i',
 'y',
 'a',
 't',
 'C',
 'u',
 'l',
 't',
 'u',
 'r',
 'a',
 'l',
 ' ',
 'D',
 'i',
 's',
 't',
 'r',
 'i',
 'c',
 't',
 ',',
 ' ',
 'A',
 'b',
 'u',
 ' ',
 'D',
 'h',
 'a',
 'b',
 'i',
 ' ',
 'G',
 'e',
 't',
 ' ',
 'd',
 'i',
 'r',
 'e',
 'c',
 't',
 'i',
 'o',
 'n',
 's',
 '"',
 ',',
 ' ',
 "'",
 'V',
 'o',
 'u',
 'c',
 'h',
 'e',
 'r',
 's',
 "'",
 ']']

In [107]:
df.to_excel(r"C:\Users\shade alarbed\Downloads\salon data\salon_info_dubai_edited.xlsx")

In [7]:
df = pd.read_excel(r"C:\Users\shade alarbed\Downloads\salon data\salon_info_dubai_edited.xlsx")

In [14]:
df["day_opens"] = df["day_opens"].apply(ast.literal_eval)

In [18]:
df["day_opens"][15][-2:]

['BQ2 Residence, Jumeirah Village Triangle, Dubai Get directions',
 'BQ2 Residence, Jumeirah Village Triangle, Dubai Get directions']

In [24]:
location = []
for i in range(len(df["day_opens"])):
    location.append(df["day_opens"][i][-2:])

In [32]:
days_open = []
for i in range(len(df["day_opens"])):
    days_open.append(df["day_opens"][i][:-2])

In [50]:
df["salon_name"] = df["salon_name"].apply(ast.literal_eval)

In [52]:
df["salon_name"]

['Chaps &amp; Co - Dubai Marina']

In [63]:
cleaned_series = df["salon_name"].apply(lambda x: str(x).strip("[]").replace("'", ""))

In [64]:
about = df["about"].apply(lambda x: str(x).strip("[]").replace("'", ""))

In [70]:
location[999]

['31 A Street, Villa 13, Al Jaffiliya, Dubai Get directions',
 '31 A Street, Villa 13, Al Jaffiliya, Dubai Get directions']

In [66]:
n_df = {
    "location": location,
    "days_open": days_open,
    "times_open":df["time_opens"],
    "salon_name":cleaned_series,
    "description":about
}

In [68]:
new_df = pd.DataFrame(n_df)

In [104]:
new_df

,location,days_open,times_open,salon_name,description
0,"Ground Floor, Trident Grand Residence, Al Mams...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['9:00am - 10:00pm', '9:00am - 10:00pm', '9:00...",Chaps &amp; Co - Dubai Marina,Chaps &amp; Co a is a traditional style barber...
1,"Eyelash Secret Ladies Salon, Damac The Voleo, ...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['11:00am - 9:00pm', '11:00am - 9:00pm', '11:0...",Eyelash Secret Ladies Salon - Business Bay,"Eyelash Secret Ladies Salon, we specialise in ..."
2,"Round About, Burj Al Salam, 6th Street, Trade ...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['9:00am - 8:00pm', '9:00am - 8:00pm', '9:00am...",Akin Barber &amp; Shop Burj Al Salam,We are paying close attention to developments ...
3,"The Bay Gate, Al Mustaqbal Street, Ground Floo...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['9:00am - 9:00pm', '9:00am - 9:00pm', '9:00am...",Bo Barbershop,"""Bô Barbershop celebrates mens love for nature..."
4,"Arjaan by Rotana Hotel , Dubai Media City, Dub...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['10:00am - 8:00pm', '10:00am - 8:00pm', '10:0...",CG Barbershop,"""CG is an old school Barbershop for todays Gen..."
...,...,...,...,...,...
1030,"The Gate Tower, Mezzanine, First Floor, Sharja...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['10:00am - 10:00pm', '10:00am - 10:00pm', '10...",Beauty Gate Saloon,Beauty Gate Ladies Salon is an exclusive salon...
1031,"Dubai, South Village EMAAR SOUTH, V47V+XF7, Sh...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['10:00am - 10:00pm', '10:00am - 10:00pm', '10...",South Beauty Centre,One of the striking features about the South B...
1032,"Pullman Sharjah Hotel, Sharjah Get directions,...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['11:00am - 9:00pm', '11:00am - 9:00pm', '11:0...",Pace Eluce Ladies Salon - Sharjah,Pace e Luce was founded in 1999 named after it...
1033,"Al Khan - Sharjah, Sharjah Get directions, Al ...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['9:00am - 10:00pm', '9:00am - 10:00pm', '9:00...",Jabel Qasion Saloon,"""Jabel Qasion is every mans go to barbershop i..."
1034,"Al Taawun Street, Sharjah Get directions, Al T...","[Monday, Tuesday, Thursday, Friday, Saturday, ...","['9:00am - 10:00pm', '9:00am - 10:00pm', '9:00...",Jabal Qasion,"""Jabel Qasion is every mans go to barbershop i..."

In [103]:
new_df["location"] = new_df["location"].apply(lambda x: str(x).strip("[]").replace("'", ""))

In [106]:
new_df["times_open"] = new_df["times_open"].apply(lambda x: str(x).strip("[]").replace("'", ""))

In [107]:
new_df

,location,days_open,times_open,salon_name,description
0,"Ground Floor, Trident Grand Residence, Al Mams...","Monday, Tuesday, Thursday, Friday, Saturday, S...","9:00am - 10:00pm, 9:00am - 10:00pm, 9:00am - 1...",Chaps &amp; Co - Dubai Marina,Chaps &amp; Co a is a traditional style barber...
1,"Eyelash Secret Ladies Salon, Damac The Voleo, ...","Monday, Tuesday, Thursday, Friday, Saturday, S...","11:00am - 9:00pm, 11:00am - 9:00pm, 11:00am - ...",Eyelash Secret Ladies Salon - Business Bay,"Eyelash Secret Ladies Salon, we specialise in ..."
2,"Round About, Burj Al Salam, 6th Street, Trade ...","Monday, Tuesday, Thursday, Friday, Saturday, S...","9:00am - 8:00pm, 9:00am - 8:00pm, 9:00am - 8:0...",Akin Barber &amp; Shop Burj Al Salam,We are paying close attention to developments ...
3,"The Bay Gate, Al Mustaqbal Street, Ground Floo...","Monday, Tuesday, Thursday, Friday, Saturday, S...","9:00am - 9:00pm, 9:00am - 9:00pm, 9:00am - 9:0...",Bo Barbershop,"""Bô Barbershop celebrates mens love for nature..."
4,"Arjaan by Rotana Hotel , Dubai Media City, Dub...","Monday, Tuesday, Thursday, Friday, Saturday, S...","10:00am - 8:00pm, 10:00am - 8:00pm, 10:00am - ...",CG Barbershop,"""CG is an old school Barbershop for todays Gen..."
...,...,...,...,...,...
1030,"The Gate Tower, Mezzanine, First Floor, Sharja...","Monday, Tuesday, Thursday, Friday, Saturday, S...","10:00am - 10:00pm, 10:00am - 10:00pm, 10:00am ...",Beauty Gate Saloon,Beauty Gate Ladies Salon is an exclusive salon...
1031,"Dubai, South Village EMAAR SOUTH, V47V+XF7, Sh...","Monday, Tuesday, Thursday, Friday, Saturday, S...","10:00am - 10:00pm, 10:00am - 10:00pm, 10:00am ...",South Beauty Centre,One of the striking features about the South B...
1032,"Pullman Sharjah Hotel, Sharjah Get directions,...","Monday, Tuesday, Thursday, Friday, Saturday, S...","11:00am - 9:00pm, 11:00am - 9:00pm, 11:00am - ...",Pace Eluce Ladies Salon - Sharjah,Pace e Luce was founded in 1999 named after it...
1033,"Al Khan - Sharjah, Sharjah Get directions, Al ...","Monday, Tuesday, Thursday, Friday, Saturday, S...","9:00am - 10:00pm, 9:00am - 10:00pm, 9:00am - 1...",Jabel Qasion Saloon,"""Jabel Qasion is every mans go to barbershop i..."
1034,"Al Taawun Street, Sharjah Get directions, Al T...","Monday, Tuesday, Thursday, Friday, Saturday, S...","9:00am - 10:00pm, 9:00am - 10:00pm, 9:00am - 1...",Jabal Qasion,"""Jabel Qasion is every mans go to barbershop i..."

In [71]:
new_df.to_excel(r"C:\Users\shade alarbed\Downloads\salon data\salon_info_dubai_edited1.xlsx")

In [72]:
df = pd.read_csv(r"C:\Users\shade alarbed\Downloads\salon data\price_salon_info_dubai.csv")

In [87]:
df

,Unnamed: 0,url,service_name,tim_of_service,description,price,salon_name,location
0,0,https://www.fresha.com/a/chaps-co-dubai-marina...,"""Fathers Day - Dad &amp; Lad Haircut"", Classic...","['1h 15min', '1h 15min', '1h 15min', '1h 15min...","[""For Father's Day, Sunday 18 June, until Tues...","['from AED 135', 'AED 135', 'AED 160', 'AED 29...",['Chaps &amp; Co - Dubai Marina'],"['Ground Floor, Trident Grand Residence, Al Ma..."
1,1,https://www.fresha.com/a/eyelash-secret-ladies...,"\U0001fae6Lip blush semi permanent \U0001fae6,...","['1h 40min', '2h', '1h', '1h 20min', '1h 30min...","['Special offer price: from 1,000 AED to 299 A...","['AED 299', 'AED 499', 'AED 150', 'AED 200', '...",['Eyelash Secret Ladies Salon - Business Bay'],"['Eyelash Secret Ladies Salon, Damac The Voleo..."
2,2,https://www.fresha.com/a/akin-barber-shop-burj...,"Hair Cut &amp; Beard Tune-Up, Hair Cut - With ...","['1h', '1h', '45min', '1h • 2 services', '45mi...","['Choose between, Energizing Hairloss, Detoxif...","['AED 235', 'AED 241.20', 'AED 180', 'AED 155'...",['Akin Barber &amp; Shop Burj Al Salam'],"['Round About, Burj Al Salam, 6th Street, Trad..."
3,3,https://www.fresha.com/a/bo-barbershop-dubai-t...,"Haircut, Haircut &amp; Beard Tune-up, Hair Tri...","['45min', '1h', '30min • Hair Trim', '45min', ...","['Consultation, full hair cut and styling by o...","['AED 180', 'AED 235', 'AED 105', 'AED 195', '...",['Bo Barbershop'],"['The Bay Gate, Al Mustaqbal Street, Ground Fl..."
4,4,https://www.fresha.com/a/cg-barbershop-dubai-a...,"Haircut, Hair Cut &amp; Beard Trim, Skin Fade,...","['40min • Male only', '1h • Male only', '50min...",['Consultation- Cut | Shampoo | Condition | St...,"['AED 170', 'AED 250', 'AED 190', 'AED 100', '...",['CG Barbershop'],"['Arjaan by Rotana Hotel , Dubai (Dubai Media ..."
...,...,...,...,...,...,...,...,...
1030,1030,https://www.fresha.com/a/beauty-gate-saloon-sh...,"Pedicure Basic, Eyebrow Treading, Manicure Bas...","['1h', '20min', '1h', '20min', '3h • 3 service...",[],"['AED 60', 'AED 25', 'AED 40', 'AED 10', 'AED ...",['Beauty Gate Saloon'],"['The Gate Tower, Mezzanine, First Floor, Shar..."
1031,1031,https://www.fresha.com/a/south-beauty-centre-d...,"Straight Blowdry, Short Hair, Medium Hair, Lon...","['40min - 1h 15min', '40min', '50min', '1h', '...","['Including shampoo and conditioner.', 'An ess...","['from AED 85', 'AED 85', 'AED 105', 'AED 125'...",['South Beauty Centre'],"['Dubai, South Village EMAAR SOUTH, V47V+XF7, ..."
1032,1032,https://www.fresha.com/a/pace-eluce-ladies-sal...,"Gelish Hand, Pedicure, without Nail Polish, wi...","['30min', '30min - 1h', '30min', '1h', '45min ...","['Gelish is a pure, thin UV gel that is pigmen...","['AED 170', 'from AED 80', 'AED 80', 'AED 100'...",['Pace Eluce Ladies Salon - Sharjah'],"['Pullman Sharjah Hotel, Sharjah']"
1033,1033,https://www.fresha.com/a/jabel-qasion-saloon-s...,"""Adults Haircut and Beard"", Adults Haircut, Tr...","['15min', '15min', '15min', '15min', '15min', ...",[],"['AED 70', 'AED 40', 'AED 30', 'AED 25', 'AED ...",['Jabel Qasion Saloon'],"['Al Khan - Sharjah, Sharjah']"
1034,1034,https://www.fresha.com/a/jabal-qasion-sharjah-...,"Hair Cut &amp; Beard, Hair Cut Adult, Trim, St...","['35min', '35min', '35min', '35min', '35min', ...",[],"['AED 70', 'AED 40', 'AED 30', 'AED 25', 'AED ...",['Jabal Qasion'],"['Al Taawun Street, Sharjah']"

In [79]:
df["service_name"] = df["service_name"].apply(ast.literal_eval)

In [82]:
df['service_name'] = df["service_name"].apply(lambda x: str(x).strip("[]").replace("'", ""))

In [89]:
df['tim_of_service'] = df["tim_of_service"].apply(ast.literal_eval)

In [90]:
df['tim_of_service'] = df["tim_of_service"].apply(lambda x: str(x).strip("[]").replace("'", ""))

In [91]:
df["description"] = df["description"].apply(ast.literal_eval)

In [94]:
df["description"] = df["description"].apply(lambda x: str(x).strip("[]").replace("'", ""))

In [97]:
df["price"] = df["price"].apply(ast.literal_eval)

In [98]:
df["price"] = df["price"].apply(lambda x: str(x).strip("[]").replace("'", ""))

In [99]:
salon_services = {
    "name_service" : df['service_name'],
    "service_time" : df['tim_of_service'],
    "service_description" : df["description"],
    "prices": df["price"],
}

In [100]:
sevice_df= pd.DataFrame(salon_services)

In [101]:
sevice_df

,name_service,service_time,service_description,prices
0,"""Fathers Day - Dad &amp; Lad Haircut"", Classic...","1h 15min, 1h 15min, 1h 15min, 1h 15min, 30min ...","""For Fathers Day, Sunday 18 June, until Tuesda...","from AED 135, AED 135, AED 160, AED 295, from ..."
1,"\U0001fae6Lip blush semi permanent \U0001fae6,...","1h 40min, 2h, 1h, 1h 20min, 1h 30min, 30min, 3...","Special offer price: from 1,000 AED to 299 AED...","AED 299, AED 499, AED 150, AED 200, AED 225, A..."
2,"Hair Cut &amp; Beard Tune-Up, Hair Cut - With ...","1h, 1h, 45min, 1h • 2 services, 45min • 2 serv...","Choose between, Energizing Hairloss, Detoxifyi...","AED 235, AED 241.20, AED 180, AED 155, AED 245..."
3,"Haircut, Haircut &amp; Beard Tune-up, Hair Tri...","45min, 1h, 30min • Hair Trim, 45min, 45min, 30...","Consultation, full hair cut and styling by one...","AED 180, AED 235, AED 105, AED 195, AED 195, f..."
4,"Haircut, Hair Cut &amp; Beard Trim, Skin Fade,...","40min • Male only, 1h • Male only, 50min • Mal...",Consultation- Cut | Shampoo | Condition | Styl...,"AED 170, AED 250, AED 190, AED 100, AED 270, A..."
...,...,...,...,...
1030,"Pedicure Basic, Eyebrow Treading, Manicure Bas...","1h, 20min, 1h, 20min, 3h • 3 services, 1h, 1h,...",,"AED 60, AED 25, AED 40, AED 10, AED 175, AED 1..."
1031,"Straight Blowdry, Short Hair, Medium Hair, Lon...","40min - 1h 15min, 40min, 50min, 1h, 1h 15min, ...","Including shampoo and conditioner., An essenti...","from AED 85, AED 85, AED 105, AED 125, AED 145..."
1032,"Gelish Hand, Pedicure, without Nail Polish, wi...","30min, 30min - 1h, 30min, 1h, 45min - 1h, 45mi...","Gelish is a pure, thin UV gel that is pigmente...","AED 170, from AED 80, AED 80, AED 100, from AE..."
1033,"""Adults Haircut and Beard"", Adults Haircut, Tr...","15min, 15min, 15min, 15min, 15min, 15min, 15mi...",,"AED 70, AED 40, AED 30, AED 25, AED 35, AED 50..."
1034,"Hair Cut &amp; Beard, Hair Cut Adult, Trim, St...","35min, 35min, 35min, 35min, 35min, 35min, 35mi...",,"AED 70, AED 40, AED 30, AED 25, AED 50, AED 70..."

In [111]:
# Merge DataFrames based on the 'Key' column
merged_df = pd.concat([new_df, sevice_df], axis=1)

In [113]:
merged_df.to_csv(r"C:\Users\shade alarbed\Downloads\salon data\salon_dubai_final.csv")

In [163]:
df = pd.read_csv("/Users/shadialarbed/Desktop/salon_recomandition/service-recommendation/salon_dubai_final.csv")

In [243]:
og_df = pd.read_csv("/Users/shadialarbed/Desktop/salon_recomandition/service-recommendation/salon_dubai_final.csv")

In [48]:
df["service_description"][0]

'"For Fathers Day, Sunday 18 June, until Tuesday 20 June. Enjoy a Fathers Day Dad &amp; Lad haircut with us and the #Little Chap will be taken care of, complimentary.", Haircut, beard trim, nose, or ear wax, finished with the Chaps signature fresh-faced facial., A comprehensive Chaps beard treatment, incl. beard conditioning, trimming &amp; styling, followed by a nourishing skin treatment, Refreshing skin treatment for oily or dry skin., Deep tissue massage and tension releasing foot reflexology treatment for strained muscles and feet., Reduce dark circles, fine lines and tighten the skin around eyes with an intensive, anti-aging enzyme mask treatment, A cleansing Oxygenated bubbles mask with vitamins A &amp; E to remove dirt, excess oil and freeze dead skin cells for a brighter-looking complexion., Deep Tissue Massage. Perfect for reviving overworked muscles and draining tension, Classic Haircuts for you and your #LittleChaps under 12, Our classic haircut. Clean and simple, Haircut blends to skin on back and sides, Clippers only cut, Hot towel head shave with straight razor, Skin or taper fade with an Afro hair specialist, Little Chaps - Under 12, a complete restyle from longer hair to shorter styles and fades, incl. consultation, Detailed and partitioning hair cut with long-hair specialist, Haircut, beard trim, nose and ear wax, eyebrow threading, Vitalising hair wash and conditioning with blow dry and style to finish., Detailed hair cut with precision faded, artistic lines, Detailed advice and a comprehensive analysis on required results from treatments to styling, Hot towel trim for the shorter beard, line up and clipper cut, Straight razor clean shave, hot towel finish, Straight razor line up for neck and cheek lines, Straight up Moustache trim and styling, hot towel finish, Vitalising treatment for oily or dry scalps, A carbon peel off mask, removing dried skin cells, Removing hair growth on the ears, Removing hair growth on and in the nose, Removing hair with cotton floss, leaving a cleaner finish with longer lasting results, Threading for a cleaner finish and nose and ear waxing to remove hair and dead skin cells, Ash Blonde | Platinum Hair Colour | Consultation Recommended, Natural hair colours, without bleaching, Sides or top only, Natural beard colours, Hair straightening, de-frizzing and protein treatment, Hair straightening, de-frizzing and protein treatment for the fringe, Focussing on strenuous and problematic back muscles., A medium pressure massage to release tension in chest and arm muscles, Full deep tissue leg treatment. Muscle warming hot stone massage with a cooling gel finish. Releasing tension and lactic acids for after workout sessions., A deep tissue massage to improve blood circulation and strenuous muscle recovery. Stimulating, reduces tension, and eases pain., Our signature, cleans nails and cuticles, Removes hard skin on the feet - courses recommended, Our signature, cleans nails and cuticles, Our signature, cleans nails and cuticles, Short on time? File and buff the nails with a light massage, Short on time? File and buff the nails with a light massage, Short on time? File and buff the nails with a light massage, Our Signature massage: long, light and medium pressure to relax the body and muscles, For the sports enthusiast. Our strongest massage is perfect for reviving overworked muscles and draining tension, Smooth, flat, heated stones are placed on specific parts of your body for this relaxing massage to ease tense muscles and damaged soft tissues throughout your body., Healthy glow for those on the go, rejuvenating the skin and a healthy glow, Detoxifying and deep cleansing, While vitamin D can be beneficial to add a healthy glow to your skin, the intense summer sun will also dehydrate it. Our signature hydrating facial is designed to heal and refresh your skin during the summer heat., The King of Facials! Lifting and firming the skin, Full Trimming for underarms., Hair trimming, after care application and light massage, Hair trimming, after care application and light massage, Hair trimming, after care application and light massage, Hair trimming, after care application and light massage, Full body waxing and after care applications, Abdomen waxing with after care application, Waxing with aftercare application, Abdomen, back, shoulders and arms, Waxing with after care application, Award-winning Anti-Ageing facial for men followed by The Fix Manicure and Pedicure, finished with a relaxing back massage., Mr handsome facial and full body exfoliation, E- Card or Physical Card Available'

In [244]:
og_df["service_description"] = og_df["service_description"].str.split(".")

In [165]:
df["name_service"] = df["name_service"].str.split(",")

In [166]:
df["service_time"] = df["service_time"].str.split(",")

In [167]:
# Extract values using the regular expression pattern
df['prices'] = df['prices'].str.split("AED",0)

/var/folders/7r/cpqf9rq10yl1xj_v6w2tjp1r0000gn/T/ipykernel_6127/1191988463.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df['prices'] = df['prices'].str.split("AED",0)

In [222]:
list_price = df["prices"][78]

In [223]:
list_price = list_price[1:]

In [226]:
df["name_service"][78] = df["name_service"][78][1:]

/var/folders/7r/cpqf9rq10yl1xj_v6w2tjp1r0000gn/T/ipykernel_6127/1901420212.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["name_service"][78] = df["name_service"][78][1:]

In [233]:
len(df["name_service"][78])

88

In [199]:
df["salon_name"][1]

'Eyelash Secret Ladies Salon - Business Bay'

In [227]:
salon = {
    "service": df["name_service"][78],
    "service_time": df["service_time"][78],
    "price": list_price
}

In [228]:
df_1 = pd.DataFrame(salon)

In [250]:
len(df["service_description"][77])

4

In [248]:
og_df["service_description"][77]

['Max 5 years old Haircut, This is a hair smoothing treatments used to straighten hair without causing any damage to the hair follicles These treatments bond protein to the outer layer of the hair which help smooth protect soften and relax hair, This is a hair smoothing treatments used to straighten hair without causing any damage to the hair follicles These treatments bond protein to the outer layer of the hair which help smooth protect soften and relax hair, This is a hair smoothing treatments used to straighten hair without causing any damage to the hair follicles These treatments bond protein to the outer layer of the hair which help smooth protect soften and relax hair']

In [188]:
df_1.head(10)

,service,service_time,price
0,Classic Haircut,1h 15min,"135,"
1,Skinfade,1h 15min,"135,"
2,The Executive Chap,1h 15min,"160,"
3,Chaps Beard Trim,1h 15min,"295, from"
4,Chaps beard trim,30min - 45min,"110,"
5,Chaps beard &amp; eye treatment,30min,"110,"
6,Fresh Face Facial,45min,"160,"
7,Post Gym Treatment,20min,"90,"
8,Chaps Eye Treatment,1h 15min • Male only,"325,"
9,Oxygenating &amp; Cleansing Bubble Mask,15min • Male only,"60,"

In [230]:
df_1.to_csv("/Users/shadialarbed/Desktop/salon_recomandition/service-recommendation/Mane_Street_Gents_Salon.csv")